.contenedor{
    width:900px;
    margin:auto;
    margin-top:50px;
    text-align:center;
}

.menu{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:40px;
}

.menu button{

    width:200px;
    height:45px;

    border:none;
    border-radius:8px;

    background:#1565c0;
    color:white;

    cursor:pointer;

    font-size:16px;
}

.menu button:hover{

    background:#0d47a1;

}